version: '3.9'
services:
  postgres:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rebar_platform
    volumes:
      - rebar_platform_pg:/var/lib/postgresql/data

volumes:
  rebar_platform_pg:
