# Node
node_modules/
dist/
build/
coverage/
.next/
.expo/
android/
ios/
*.log

# Python
__pycache__/
*.pyc
.env
.venv

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Editor
.idea/
.vscode/
.DS_Store
